html {
	scroll-behavior: smooth;
  }

.navbar, footer{
    background-color: #660000 !important;
}

#fono{
    text-align: right;
	font-size: 2.4rem;
}

.fa, .fab, .far, .fas, #fonito{
	font-size: 1.8rem;
    text-align: center;
}

.fullsize{
    width: 100vw;
}

.divider
{
	position: relative;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

h2{
    text-align: center;
}

h1{
    font-family: "alex-brush";
    font-size: 3.5rem;
}

#contacto h2{
	font-family: "alex-brush";
	font-size: 3rem;
}

iframe{
	height: 40vh;
	width: 40vw;
}

@media (max-width: 992px) { 
	iframe{
		height: 40vh;
		width: 100vw;
	}
}

@media (max-width: 767px) { 
	iframe{
		height: 50vh;
		width: 100vw;
	}
}

@media (max-width: 576px) { 
	#header{
		text-align: center;
	}
	#fono{
		text-align: right;
	}
	h1{
		font-size: 3rem;
	}
}
.card{
	border: none;
}
.tamanio{
	font-size: 1.2rem;
}

#abt p{
	font-size: 1.3rem;
}

footer h2{
	text-align: left;
}

footer{
	color: white;
}

nav a{
	font-size: 1.3rem;
}

footer a{
	color: white;
	text-decoration: none;
	padding-left: 15px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

@media (max-width: 767px) { 
	#navegacao {
		display: none;
	}
}

#header {
	top: 0;
	width: 100%;
	background-color: white;
  }

.scrolleao{
	transition: 0.6s;
	opacity: 0;
}
.mover{
	transition: 0.6s;
	transform: translate(10vw);
}

.descrollear{
	transition: 0.6s;
	opacity: 1;
}
.demover{
	transition: 0.6s;
	transform: translate(0vw);
}
